<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">

      <div class="flex">
         <a href="/home" >
            <img src="img/télécharger.png" alt="logo">
            <h1 class="text-slate-100 pt-4 md:text-2xl">TodoGuard</1>
         </a>
      </div>

      <div class="justify-content-evenly hidden md:flex ">
         <a href="/login" role="button" class="btn btn-secondary btn-ouline-light m-2 px-6">Login</a>
         <a href="/signup" role="button" class="btn btn-warning md:m-2 ">Sign-Up</a>
      </div>

      <div id="sheet" class="sheet">
        <a href="#login" class="sheet-item">Login</a>
        <a href="#signup" class="sheet-item">Signup</a>
      </div>

      <div id="hamburger-menu" class="block md:hidden me-4" onclick="toggleSheet()">
         <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white focus:outline-none">
         <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
         </svg>
         </button>
    </div>
</nav>

