<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
     <a class="navbar-brand gap-3" href="/home">
         <img src="img/télécharger.png" alt="logo">
        <span class="fs-3 text">TodoGuard</span>
     </a>
     
     <div class="grid gap-3 m-2 p-2 justify-content-evenly">
        <input type="search" name="" id="" class="m-2" aria-label="Search">
        <a href="/login" role="button" class="btn btn-secondary btn-ouline-light m-2">Login</a>
        <a href="/signup" role="button" class="btn btn-warning m-2">Sign-Up</a>
     </div>
  </div>
</nav>