  
      <h1 class="d-flex justify-content-center">Erreur 404 page Not Found</h1>
        <p class="d-flex justify-content-center">Sorry but something went wrong please check your interet connection and 
            <br>rewrite correctly the URL. Otherwise please contact support at yannickIsLearningNode@gmail.com !
        </p>  

    