{{#if successMessage}}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    </svg>

    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 0; left: 0; width:25%">
        <svg class="bi flex-shrink-0 me-2" style="width: 14px; height: 14px; " role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <strong>{{successMessage}}</strong> 
        <button type="button" style="width: 14px; height: 14px;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<div class="container">
    <div class="sidebar">
      <div class="title"><h4>TodoGuard</h4></div>
      <ul class="m-0 p-0">
        <li class="mb-4 ps-2"><a href="" class="px-4 py-2" id="default-link-id"><img src="img/house-fill.svg" alt="home"> Home</a></li>
        <li class="mb-4 ps-2"><a href="" class="px-4 py-2" id="today-link"><img src="img/cloud-sun-fill.svg" alt="today"> Plan for Today</a></li>
        <li class="mb-4 ps-2"><a href="" class="px-4 py-2" id="soon-link"><img src="img/calendar2-date-fill.svg" alt="soon"> Plan for soon</a></li>
        <li class="mb-4 ps-2"><a href="" class="px-4 py-2" id="notifcations-link"><img src="img/bell-fill.svg" alt="bell"> Notifications</a></li>
      </ul>  
    </div>

    <div class="separator"></div>

    <div class="workspace" >

        <h2 class="text-center mb-4" id="currentTitle"></h2>
        <p class="text-center">Welcome on this workspace ! Choose one of the following options to continue !</p>
        <h5 class="text-center my-4"><a href=""><i class="bi bi-plus-circle"></i> Add a new task</a></h5>
        <div class="models" id="today-link">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sport</h5>
                    <p class="card-text">Quick model for set of sport task to do.</p>
                    <a href="#" class="btn btn-primary">start Template</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hygiène</h5>
                    <p class="card-text">Quick model for set of hygenic and self health task to do.</p>
                    <a href="#" class="btn btn-primary">start Template</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Domestic care</h5>
                    <p class="card-text">Quick model for set of task to do when you want to clean and take car of a house.</p>
                    <a href="#" class="btn btn-primary">start Template</a>
                </div>
            </div>
            
        </div>

    </div>

</div>