{{#if errorMessage}}
    <div class="alert alert-danger">
       <strong>Sorry but an error infortunately occurs </strong>
    
      <h1 class="d-flex justify-content-center">Erreur {{errorCode}}</h1>
        <p class="d-flex justify-content-center">{{errorMessage}}
            <br>Please retry correctly and if the error persist, contact support at yannickIsLearningNode@gmail.com !
        </p>  

    </div>  
{{/if}}