<div class="container-fluid d-flex flex-column align-items-center justify-content-center ">
    <div class="my-4">
        <h1 class="fs-1 text fw-bolder">Welcome on TodoGuard.</h1>
        <p class="fst-italic">The only App where you can plan your days, your weeks and maybe your whole life</p>
        <img src="img/OIG3.png" alt="Logo" style="height: 350px;" class="ms-5">
    </div>
</div>
<div>
    <figure class="text-center">
        <blockquote class="blockquote fs-6 text">
            <p>‘‘Great things come from hard work and perseverance. No excuses.‘‘</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Kobe Bryant <cite title="Source Title">"The Mamba Mentality: How I Play"</cite>
        </figcaption>
    </figure>
</div>

