<div class="border border-success p-4 border-opacity-10 rounded shadow-lg bg-body-tertiary ">
    <h1 class="fs-1 text fw-bolder login" >Login</h1>
    <div class="flex-none flex-row md:flex">
        <div class="basis-1/2 m-2">
            <img src="img/login.png" alt="user-image" style="height: 450px;">
        </div>
        <div class="basis-1/4 align-middle mt-4">
            <form action="auth/login" method="POST" >
                <div class="mb-3 d-flex flex-row gap-2">
                    <label for="email"><img src="img/envelope-fill.svg" alt="email-icon"> </label>
                    <input class="form-control p-2 form-control-plaintext bg-white" type="text" name="email" id="email" placeholder="E-mail">
                </div>
                <div class="mb-3 d-flex flex-row gap-2">
                    <label for="password"><img src="img/password.svg" alt="lock-icon"> </label>
                    <input class="form-control p-2 form-control-plaintext bg-white" type="password" name="password" id="password" placeholder="Password">
                </div>                
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary mt-4 ms-4">Login</button>
            </form>
            <div class="other-connect">
                Or login with 
                <div>
                    <a href="https://google.com" role="button" class="btn btn-danger btn-ouline-light m-2"><img src="img/google.svg" alt="google-icon"></a>
                    <a href="https://twitter.com" role="button" class="btn btn-primary btn-ouline-light m-2"><img src="img/twitter.svg" alt="twitter-icon"></a>
                    <a href="https://web.whatsapp.com" role="button" class="btn btn-success btn-ouline-light m-2"><img src="img/whatsapp.svg" alt="whatsapp-icon"></a>
                </div>
            </div>
            <a href="/signup">Create an account</a>
        </div>
    </div>
</div>
